<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1 class="panel-title">{{ title }}</h1></div>
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
</div>
