$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$mt10: 10px;
$mt20: 20px;

.container {
    margin-top: $mt20;
}

.currency-result {
    margin-top: $mt10;
}
