<div class="row">
    <div class="col-sm-5">
        <div class="list-group">
            <button type="button" class="list-group-item" *ngFor="let currency of quickLinks" [ngClass]="{active:currency === selectedCurrency}" (click)="onChange(currency)">{{ currency }}</button>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="input-group">
            <label class="input-group-addon" for="currency">USD TO</label>
            <select id="currency" class="form-control" [ngModel]="selectedCurrency" (change)="onChange($event.target.value)">
                <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.code }}({{ currency.name }})</option>
            </select>
        </div>
        
        <div class="currency-result well well-sm">1 USD = {{ selectedPrice }} {{ selectedCurrency }}</div>
    </div>
</div>